.head{
    background-color:darkorange;
    width:100%;
    height:80px;
    color:white;
    text-align: center;
    font-size:45px;

}
.cards{
    display: inline-flex;
    background: rgb(76,162,114);
    background: linear-gradient(90deg, rgba(76,162,114,1) 0%, rgba(76,162,114,1) 38%, rgba(69,131,85,1) 66%, rgba(49,125,82,1) 100%);
    font-size:32px;
    color:white;
    margin:20px;
    text-align: -webkit-center;
    padding:15px;
    align-content: center;
    width:45%;
    justify-content:center;
    border: 15px saddlebrown groove;
}

.status{
    background-color: #ff950d;
    font-size:32px;
    color:white;
    margin:50px auto;
    text-align: center;
    width:250px;
    border-radius: 20px;
    /*display: none;*/
    transform: translateY(450%);
    transition: .2s;
}

.status.active{
    transform: translateY(0);

}

.allcards{
    text-align: -webkit-center;
}

.buttons{
    margin: 0 auto;
    text-align: -webkit-center;
}

.btn{
    width:160px;
    padding: 15px;
    margin: 7px;
}

@media(max-width:1270px) {
    .cards{
        width:95%;
        margin:15px;
    }
}

.player-cards{
    display: inline-grid;
}

.dealer-cards{
    display: inline-grid;
}

.photo{
    width:130px;
    height:204px;
    padding:4px;
    margin:4px;
    border:1px white solid
}

/*130 204*/